.h2{
    font-family: 'Train One', cursive;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}

.container{
    width: 80%;
}

.section, footer {
    padding: 20px 0;
}